<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"  content="width=device-width initial-scale=1.0">

    <title>Dav &mdash; Photographer</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/icon-font.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,300i,400" rel="stylesheet">

  </head>
  <body>

    <div class="container">
      <div class="header">
          <div class="header__nav-1">
            <i class="far fa-life-ring"></i>
            <p>Land-Book</p>
          </div>

          <div class="header__nav-2">
            <p class="heading__para--1"><i class="fab fa-twitter"></i>Follow</p>
            <p class="heading__para--1"><i class="fas fa-thumbs-up"></i>Like</p>
          </div>

        <ul class='header__list'>
          <li class="heading__para--2">Gallery</li>
          <li class="heading__para--2">My favs</li>
          <li  class="header__list-form">
            <form action="#" class="form form-mobile" autocomplete="on">
              <input type="text" class="header__form" placeholder="search...">
              <button class="btn btn-search">
                <i class="fas fa-search "></i>
              </button>
              <button class="form__login">log in</button>
              <button class="btn btn-search-1">Add website</button>
            </form>
          </li>
        </ul>
          <a href="#" class="mobile-nav-icon"><i class="fas fa-bars fa-2x"></i></a>
      </div>

      <section class="flatbush">
          <img src="../img/img-1.jpg" alt="wild pic" class="flatbush__img">
          <h2 class="flatbush__heading">80 flatbush</h2>
          <p class="long-para long-para-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque temporibus consectetur
             dicta aspernatur. Distinctio consequuntur ducimus debitis harum, cum at, commodi
          </p>
          <h3>growing brooklyn the right way</h3>
          <p class="long-para long-para-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi provident in sed, error accusamus hic magni
            dolor quidem, corrupti magnam qui vel totam modi ex ut fugiat incidunt voluptates numquam?
          </p>
      </section>

      <section class="city">

        <div class="city__content city__content--1 sticky-2">
          <h2 class="heading--2 heading--article">80 Flatbush</h2>
          <ul class="city__list city__list--1">
            <li><i class="fas fa-heart"></i>12</li>
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-twitter-square"></i></li>
            <li><i class="fab fa-pinterest-square"></i></li>
          </ul>
        </div>

        <div class="city__content city__content--2">
          <ul class="city__list city__list--2">
            <li><a href="https://80flatbush.com"><i class="fas fa-globe"></i>https://80flatbush.com</a></li>
            <li><i class="fas fa-user"></i>&nbsp;</li>
            <li><i class="far fa-dot-circle"></i>1858 views</li>
            <li><i class="fas fa-calendar-plus"></i>added 28 days ago</li>
            <li><a href="#"><i class="fas fa-folder"></i>Other</a></li>
            <li><a href="#"><i class="fas fa-bookmark"></i>B&M, architecture,Flat design, background image</a></li>
          </ul>
        </div>

      <div class="city__content city__content--3">
        <img src="https://cdn4.buysellads.net/uu/1/4251/1527797739-1525146218-32052.png" alt="" border="0" height="100" width="130" style="max-width: 130px;">
        <p class="city__para">All the tool your teams need in one place. Slack: where work happens.</p>
      </div>

      <div class="city__content city__content--4">
        <h3 class="heading--3">You may like</h3>
        <!-- <img src="../img/img-1" alt="img-1" class="city__img--1">
        <img src="../img/img-2" alt="img-2" class="city__img--2">
        <img src="../img/img-3" alt="img-3" class="city__img--3">
        <img src="../img/img-4" alt="img-4" class="city__img--4">
        <img src="../img/img-5" alt="img-5" class="city__img--5">
        <img src="../img/img-6" alt="img-6" class="city__img--6">
        <img src="../img/img-7" alt="img-7" class="city__img--7">
        <img src="../img/img-8" alt="img-8" class="city__img--8"> -->

        <img src="https://source.unsplash.com/random/201x200" alt="">
        <img src="https://source.unsplash.com/random/202x200" alt="">
        <img src="https://source.unsplash.com/random/203x200" alt="">
        <img src="https://source.unsplash.com/random/204x200" alt="">
        <img src="https://source.unsplash.com/random/205x200" alt="">
        <img src="https://source.unsplash.com/random/206x200" alt="">
        <img src="https://source.unsplash.com/random/207x200" alt="">
        <img src="https://source.unsplash.com/random/208x200" alt="">
      </div>

      <button class=" btn btn-city">See more landings</button>

      </section>

      <section class="homes">
        <div class="homes__img">
          &nbsp;
        </div>
        <h2 class="heading--2">2 new <br>schools</h2>
        <p class="main-para para-1 ">New state-of-the-art facilities for 700 students </p>

        <h2 class="heading--2">More <br>city land</h2>
        <p class="main-para para-2">Foot print the city-owned land grows from 17,500 SF to 23,00 SF </p>

        <h2 class="heading--2">Cultural <br> space</h2>
        <p class="main-para para-3">The existing school building will be adaptively reused into a new cultural institution</p>
      </section>

      <section class="dawntown">
        <div class="dawntown__img">
          <!-- &nbsp; -->
          <img src="../img/img-3.jpg" alt="dawntown image">
        </div>
        <h2 class="heading--2"> 3,000 <br>New jobs </h2>
        <p class="main-para para-1 ">1,500 construction jobs <br> 1,500 permanet jobs </p>

        <h2 class="heading--2">200 Affordable <br>Home </h2>
        <p class="main-para para-2">Deep levels of affordability(Avg. 60%AMI) <br> permanently Affordable </p>
        <h2 class="heading--2">Equitable  <br> Development </h2>
        <p class="main-para para-3">livable wages and benefits with 32Bj 30% MWLBE contrancting goal </p>
      </section>

      <section class="bottom">
          <img src="../img/img-4.jpg" alt="city building" class="bottom__img">
          <p class="main-para para-btm-3">Intersted in more detail about the context, our approach and the benefits to the  community?  </p>
          <button class="btn bottom-btn">Learn more</button>
          <div class="bottom__content">
              <h3 class="heading-3">NYC Educational Constraction Funds</h3>
              <p class="bottom__content--1">to learn more, please got to <a href="#">ECF's project page</a> </p>
              <h3 class="heading-3">Alloy</h3>
              <p class="bottom__content--2">read a letter from the developer <a href="#">Here</a>and learn more about the developer at <a href="#">Alloy website</a></p>
              <h3 class="heading-3">Fifth Avenue Committee</h3>
              <p class="bottom__content--3">to learn about our affordable non-profite housing partner, go to
              <a href="#">FAC's website </a></p>
              <h3 class="heading-3">Press Release </h3>
              <p class="bottom__content--4">
                <a href="#">download Press Release <br> download images <br></a>
                For press inquires please contact james yolles at <a href="#">james@rishaler.com</a>
              </p>

              <h4 class="heading-4">Timeline</h4>
              <p>ECF issues request for expressions of interset("RFEI")</p>
              <p>ECF select alloy development </p>
              <p>start of construction</p>
              <p>Complition of phase one(schools and triangular tower) </p>
              <p>Compliation of phase 2 (second tower and rehabilitation of existing structures )</p>

          </div>
      </section>

<footer class="footer">

    <div class="footer__icon">
      <i class="far fa-life-ring fa-2x "></i>
      <p>land-book <br> <span>The home land for the fine website</span></p>
    </div>

      <p>We collect awesome websites to help creatives find inspiration and motivations to do rad staff.</p>

      <ul class="footer__list footer__list--1">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fas fa-wifi"></i></a></li>
        <li><button class="btn footer-btn">Donate</button></li>
      </ul>

      <ul class="footer__list footer__list--2">
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Privecy and Terms</a></li>
        <li><a href="#">Our Guidlines</a></li>
        <li><a href="#">Yes, we use cookies </a></li>
      </ul>

        <div class="footer__para">
              <p><strong>The best website right in your inbox</strong></p>
              <p>We send you a fresh package of inspiration from around the web. No spam, all quality stuff. promise :) </p>
        </div>

        <form action="#" class="footer__form" autocomplete="on">
          <input type="text" class="footer__text" placeholder="your e-mail...">
          <button type="submit" class="btn btn-footer" name="button">Submit</button>
        </form>

  </footer>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../js/jquery.waypoints.min.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
